@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(images/bg-image.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 24px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-icon {
  place-self: start;
}

.container-title {
  width: 600px;
  color: #f8fafc;
  font-size: 64px;
  margin-top: 48px;
  text-align: center;
}

.container-description {
  width: 700px;
  color: #f8fafc;
  font-size: 32px;
  margin-top: 16px;
  text-align: center;
}

.contact-form {
  margin: 72px 0;
  padding: 32px;
  width: 960px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 24px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 24px;
}

.input-label-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: 14px;
  color: #f8fafc;
}

.input-field {
  margin-top: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 14px;
  padding: 0 16px;
  height: 50px;
}

::placeholder {
  color: #cdd5e0;
}

.input-dropdown {
  margin-top: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 14px;
  padding: 0 16px;
  height: 50px;
  appearance: none;
  background: url(images/Expand_down.svg), #ffffff;
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 98%;
}

.textarea-field {
  margin-top: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 14px;
  padding: 16px;
  resize: none;
  overflow: hidden;
}

.input-button {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 14px;
  color: #4036a9;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .container {
    margin: 24px 32px;
  }

  .container-title {
    width: 410px;
    font-size: 48px;
  }

  .container-description {
    width: 400px;
    font-size: 20px;
  }
}

@media (max-width: 640px) {
  .container {
    margin: 24px;
  }

  .container-title {
    width: 400px;
    font-size: 36px;
    margin-top: 36px;
  }

  .container-description {
    width: 370px;
  }

  .contact-form {
    width: 100%;
    margin: 36px 0;
  }

  .input-group {
    flex-direction: column;
    font-size: 14px;
  }

  .input-label {
    font-size: 12px;
  }
}
